<h1>All Users</h1>

<div class="row">
    <app-card *ngFor="let user of userDetailsService.users" class="col-sm-4 col-md-3 col-lg-3" [user]="user"></app-card>
</div>

<div class="delete-all" *ngIf="userDetailsService.users.length > 0; else noUsers">
    <!-- <mat-divider></mat-divider> -->
    <button class="delete-all-button" mat-flat-button color="warn" (click)="deleteAllUsers()">
        <mat-icon>delete</mat-icon>
        Delete all users
    </button>
</div>

<ng-template #noUsers>
    <p>There is no users there.</p>
</ng-template>