app-action {
    height: 100px;
    margin-bottom: 70px;
}

.delete-all {
    margin-top: 10px;
    text-align: center;

    &-button {
        margin-top: 10px;
    }
}

.title {
    margin-top: 10px;
}